@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', 'san-serif';
  /* border: 1px solid; */
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: rgb(60, 60, 189);
  opacity: 0;
}

.resizer.show {
  opacity: 1;
}
